/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #53d611;
}

body {
  font-family: "Open Sans", sans-serif;
}

button,
input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
}

/* Loading animation */
@keyframes loading {
  0% {
    background: rgba(0, 0, 0, 0.01);
  }
  100% {
    background: rgba(0, 0, 0, 0.08);
  }
}

/* Active catagori */
.active {
  color: var(--primary);
}

.like-icon {
  color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.like {
  color: var(--primary);
}

.active-btn {
  border-color: var(--primary) !important;
  background: #fff !important;
  color: var(--primary);
  font-weight: 600;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
