<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/forgot-pass.css">
    <title>Document</title>
</head>

<body>
    <% if (error) { %>
        <h3>
            <%= error %>
        </h3>
        <% } else { %>
            <form>
                <h1>
                    <%= user %> change your password !
                </h1>
                <div>
                    <input id="password" type="password" placeholder="New password">
                </div>
                <div>
                    <input id="confirm-password" type="password" placeholder="Confirm password">
                </div>
                <p id="message"></p>
                <button id="submit">Change password</button>
            </form>
            <% } %>

                <script src="/js/forgot-pass.js"></script>

</body>

</html>